<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.login}"></title>
</head>
<body>
<h2 th:text="#{title.login}"></h2>
<form th:action="@{/login}" th:object="${loginRequest}" method="post">
    <div>
        <label th:text="#{label.id}"></label> :
        <input type="text" th:field="*{id}" th:placeholder="#{placeholder.id}" />
        <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color:red"></p>
    </div>

    <div>
        <label th:text="#{label.password}"></label> :
        <input type="password" th:field="*{password}" th:placeholder="#{placeholder.password}" />
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></p>
    </div>
    <button type="submit" th:text="#{button.login}">로그인</button>
</form>
<hr>
<a href="/student/register" th:text="#{link.register}">학생 등록하러 가기</a><br />
<div style="display: flex; gap: 10px;">
    <a href="?lang=ko">KOREAN</a>
    <a href="?lang=en">ENGLISH</a>
</div>
</body>
</html>